<div class="container">
  <div class="spacer"></div>
  <div class="light red" [class.light-visible]="isBusy"></div>
  <div class="spacer"></div>
  <div class="light yellow" [class.light-visible]="isAlmostDone"></div>
  <div class="spacer"></div>
  <div class="light green" [class.light-visible]="isIdle"></div>
</div>
<!--
<div class="container2">
    <div class="light2" id="red"></div>
    <div class="spacer"></div>
    <div class="light2" id="yellow"></div>
    <div class="spacer"></div>
    <div class="light2 light-visible" id="green"></div>
  </div> -->
