<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    POMOLED
  </h1>

  <div class="row justify-content-start">
    <div class="col-sm-3 user-col">
      <h2>IBAI</h2>
      <app-semaphore [status]="statusIbai"></app-semaphore>
    </div>
    <div class="col-sm-3 user-col">
      <h2>GONZALO</h2>
      <app-semaphore [status]="statusGonzalo"></app-semaphore>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-3 user-col">
        <input type="button" (click)="onStartIbai()" class="btn btn-dark" value="Start Pomodoro" />
      </div>
      <div class="col-sm-3 user-col">
        <input type="button" (click)="onStartGonzalo()" class="btn btn-dark" value="Start Pomodoro" />
      </div>
  </div>
</div>


